body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes at least the full height of the viewport */
}

header {
    background-color: #4CAF50;
    padding: 15px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s; /* Add transition for a smooth color change */
}

.nav-links a:hover {
    color: black; /* Change the color on hover */
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background-color: #f2f2f2;
}

.welcome-section img {
    max-width: 50%; /* Adjust the width of the image as needed */
}

.welcome-section-text {
    max-width: 45%; /* Adjust the width of the text as needed */
    text-align: left;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Push the footer to the bottom */
}
